<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>

    <div class="container" id="connect_mm">
        <span id="connect_button" onclick="send()">Login with Metamask</span>
    </div>

    <h1>{{ user.get_username }}</h1>

    <input type="text" name="" id="yo">
    <br><br>
    <h2 id="response"></h2>

    <script src="{% static 'scripts/test.js' %}"></script>
</body>
</html>